<p id="notice"><%= notice %></p>

<h1><%= @board.title %></h1>

<div class="card">
  <h4 class="card-header">Board Details</h4>
</div>

<div class="card">
  <h4 class="card-header">Board Replies</h4>
</div>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @board.content %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
